<h1> Edit Your Entry </h1>

<% if @journal.errors.any? %>
<h2> Sorry, You know the drill, these errors prevented it </h2>
<ul>
    <% @journal.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_with(model: @journal, local:true) do |f| %>

<p>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
</p>

<p>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
</p>


<p>
    <%= f.submit %>
</p>
<% end %>

<%= link_to 'Journal Lisings', journals_path %>